.navbar{
    
    background-color: black;
    
    .navbar-nav{
        height: 150px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        color: aqua;
    }
}


