

.homeView{
    margin: 80px;
    .homeView__container{
        
        .homeView__title{
            font-family: "Dancing Script", cursive;
            color: rgba(98,118,95,1);
            text-align: center;
        }
        .homeView__text{
            text-align: center;
        }
    }
}